force-app/main/default/flows/Donor_Import_Facebook.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Output_Variables</name>
        <label>Assign Output Variables</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>DonorImportLine.encdi2__Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_or_Create_Donor.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonorImportLine.encdi2__Contributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_or_Create_Contributor.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonorImportLine.encdi2__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonorImportLine.encdi2__Flow_Guid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Fields</name>
        <label>Set Opportunity Fields</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_or_Create_Donor.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonorImportLine.encdi2__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonorImportLine.encdi2__Disbursement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_or_Create_Donor.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Donation_Has_Contributor</name>
        <label>Donation Has Contributor</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Output_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Donation_Has_Contributor_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DonorImportLine.encdi2__Contributor_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_or_Create_Contributor</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Opportunity_Name</name>
        <dataType>String</dataType>
        <expression>{!Find_or_Create_Donor.Contact.Name} + &apos; &apos; + TEXT({!DonorImportLine.encdi2__Disbursement_Date__c}) + TEXT({!DonorImportLine.encdi2__Amount__c})</expression>
    </formulas>
    <interviewLabel>Donor Import Facebook {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Donor Import Facebook</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Donation_Has_Contributor</targetReference>
        </connector>
        <inputReference>Opportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Soft_Credit</name>
        <label>Create Soft Credit</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Assign_Output_Variables</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Find_or_Create_Contributor.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Influencer</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_or_Create_Donor</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Find_or_Create_Contributor</name>
        <label>Find or Create Contributor</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Create_Soft_Credit</targetReference>
        </connector>
        <flowName>Find_or_Create_Contact</flowName>
        <inputAssignments>
            <name>First_Name</name>
            <value>
                <elementReference>DonorImportLine.encdi2__Contributor_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Last_Name</name>
            <value>
                <elementReference>DonorImportLine.encdi2__Contributor_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Find_or_Create_Donor</name>
        <label>Find or Create Donor</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Set_Opportunity_Fields</targetReference>
        </connector>
        <flowName>Find_or_Create_Contact</flowName>
        <inputAssignments>
            <name>Email</name>
            <value>
                <elementReference>DonorImportLine.encdi2__Donor_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>First_Name</name>
            <value>
                <elementReference>DonorImportLine.encdi2__Donor_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Last_Name</name>
            <value>
                <elementReference>DonorImportLine.encdi2__Donor_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Input Donor Transaction Line to process</description>
        <name>DonorImportLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>encdi2__Donor_Import_Line__c</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
